torch
pandas
numpy
nbformat
pyyaml
sklearn
argparse
matplotlib
loompy
tqdm
anndata
rootpath
nbconvert
nbformat
seaborn
jupyter_client
ipykernel
ipython
h5py
tbb
FlowCytometryTools
fastcluster
sphinx>=3.0
sphinx-autodoc-typehints
sphinx_rtd_theme>=0.3.1
autodocsumm
nbsphinx
nbsphinx-link
tables
typeguard
mypy